* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}
.navbar {
  border: 2px solid black;
  height: 60px;
  background-color: #131921;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo {
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
}
.logo img {
  height: 50px;
  width: 100%;
}
.border {
  border: 1px solid transparent;
  height: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.border:hover {
  border: 1px solid white;
}
.add-first {
  color: #cccccc;
  font-size: 13.6px;
  margin-left: 3px;
}
.add-second {
  font-size: 16px;
  margin-left: 3px;
}
.add-icon {
  display: flex;
  align-items: center;
}
.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 620px;
  height: 40px;
  background-color: pink;
  border-radius: 4px;
}
.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  outline: none;
}
.search-input {
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  text-indent: 5px;
}
.search-icon {
  cursor: pointer;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19.2px;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: black;
}
.nav-search:hover {
  border: 2px solid #febd68;
}
span {
  font-size: 11.2px;
  font-weight: 700;
}
.nav-cart i {
  font-size: 30px;
}
.nav-cart {
  font-size: 13.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.panel {
  height: 40px;
  background-color: #222f3d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.panel-ops {
  width: 70%;
  font-size: 14px;
}
.panel-ops p {
  display: inline-flex;
  height: 40px;
  padding: 0 3px;
  margin-left: 15px;
}
.panel-deals {
  font-size: 15px;
  font-weight: 700;
  padding: 0 3px;
}
.hero-section {
  background-image: url("./images/hero_image.jpg");
  background-size: cover;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-msg {
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: relative;
  width: 80%;
  margin-bottom: 25px;
}
.hero-msg a {
  color: #4f6468;
  margin-left: 3px;
}
.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}
.box {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 15px;
  margin-top: 15px;
}

.box-img {
  background-size: cover;
  height: 300px;
  margin: 16px 0;
}
.box-content {
  margin-left: 16px;
  margin-right: 16px;
}
.box-content p {
  color: #007185;
}
.container {
  background: #e4e4e4;
}
.title {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: start;
  padding: 15px 10px;
}
.title a {
  color: #007185;
}
.title a:hover {
  text-decoration: underline;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  margin: 15px 0;
}
.box1 {
  height: 330px;
  background-color: white;
  padding: 10px 20px;
}
.box1-content {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 300px;
  margin: 5px 0;
}
.image img {
  width: 100%;
  height: 250px;
}
.box1-content p {
  color: #cc0a39;
  font-size: 15px;
}
.box1-content p span {
  background-color: #cc0a39;
  color: white;
  font-size: 15px;
  margin-right: 6px;
}
footer {
  margin-top: 15px;
}
.foot-panel1 {
  background-color: #364759;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: opacity 0.3s;
}
.foot-panel1:hover {
  opacity: 0.9;
  cursor: pointer;
}
.foot-panel2 {
  background-color: #222f3d;
  color: white;
  height: 220px;
  display: flex;
  justify-content: space-evenly;
}
ul {
  margin-top: 20px;
}

ul p {
  font-size: 18px;
  font-weight: 900;
}
ul a {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  color: #dcdcdc;
}
.foot-panel2 ul a:hover {
  transition: color 0.2s;
  color: #febd68;
}
.foot-panel3.logo {
  margin: auto;
  margin-top: 15px;
  height: 50px;
  width: 100px;
  background-image: url("./images/amazon_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.foot-panel3 {
  background-color: #222f3d;
  border-top: 0.5px solid white;
  display: flex;
  flex-direction: column;
}
.foot-panel3 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.foot-panel3 ul a {
  font-size: 13.6px;
}
.foot-panel3 ul a:hover {
  text-decoration: underline;
}
.foot-panel4 {
  background-color: #121b23;
  color: white;
  height: 80px;
  font-size: 12px;
  text-align: center;
}
.pages {
  padding-top: 25px;
}
.pages a {
  margin-left: 10px;
}
.pages a:hover {
  text-decoration: underline;
}
.copyright {
  padding-top: 10px;
}
